* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    /* margin: 20px; */
    /* background-color: lightgray; */
    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 50px;
    grid-template-areas: 
    'head head head head'
    'nav content content content'
    'nav content content content'
    'foot foot foot foot';

}

.head, .navbar, .foot{
    background-color: aqua;
    /* border: 1px solid black; */
}

.main-content{
   
    height: 100vh;
    margin: 20px;
    z-index: 1;
}
header{
    align-self: center;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* margin-top: 20px; */
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 2  ;

}
.navbar{
   
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
}
.foot {
    
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li {
    list-style-type: none;

}
nav ul li a {
    text-decoration: none;
    
}


/* ul {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */
.navbar{
    display: flex;
    justify-content: center;

    align-items: center;
    

}



.head {
    grid-area: head;

}

.navbar {
    grid-area: nav;

}

.main-content {
    grid-area: content;
    max-width: 100%;
    height: 100vh;
    
}

.foot {
    grid-area: foot;
}

section > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    
}


section {
    justify-content: space-around;
    display: grid;
    
    gap: 10px; 
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    /* grid-auto-rows: 300px; */
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: repeat(autofillm minmax(300px, 100%)); */
    /* grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto); */

    /* grid-template-columns: repeat(autofill, minmax(300px, 1fr));
    grid-template-rows: repeat(autofill, minmax(300px, 1fr));
    flex-direction: column; */
    
    /* grid-template-columns: 
    minmax(300px, 1000px)
    minmax(300px, 1000px)
    minmax(300px, 1000px)
    minmax(300px, 1000px)
    minmax(300px, 1000px);
    grid-template-rows: 
    minmax(300px, 1000px)
    minmax(300px, 1000px)
    minmax(300px, 1000px)
    minmax(300px, 1000px) */
    
    
    /* justify-content: space-between;
    align-items: center; */
}

/* img {
    max-width: 100%;
   
} */

@media (max-width:560px)
{
    section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    /* .container{
        display: block;
    } */
    .head {
        z-index: 3;
    }

}